<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DB</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/materialize.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="login" >
          <form class="col s12" action="http://localhost:9090/home" method="post">
              <div class="circle-mask" style="">
                  <canvas id="canvas" class="circle" width="96" height="96"></canvas>
              </div>
            <div class="row">
              <div class="input-field col s12">
                <!-- <i class="material-icons prefix">account_circle</i> -->
                <input id="Username" type="text" name="username" class="validate" required>
                <label for="Username">Username</label>
              </div>
              <div class="input-field col s12">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="passwrod" type="password" name="password" class="validate" required>
                <label for="passwrod">Password</label>
              </div>
              <div class="input-field col s">
              <button class="btn waves-effect waves-light" type="submit" nname="submit" value="Login">Login</button>
              </div>

            </div>
          </form>
          <form class="signup" action="http://localhost:9090/signup" method="post">
              <div class="input-field col s6">
              <!-- <button class="btn waves-effect waves-light btn-big" type="submit" name="Register" value="Sign Up">Sign Up</button> -->
              <p>Not a user? <input type="submit" name="Register" value="Create an account"></p>
              </div>
          </form>
        </div>

    </body>
</html>
